<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4.7</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>我们需要使用您的相机,可以拍照后照片来和您的同事及好友进行沟通</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要使用您地理位置，我们需要使用您地理位置，通过发送地理位置消息来和您的同事及好友进行沟通
发送地理位置消息来回答您客户的问询
</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>我们需要使用您的麦克风,通过语音消息来和您的同事及好友进行沟通</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要使用您的相册,可以发送相册里的照片来和您的同事及好友进行沟通</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
